.heder {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  // background-image: url(../../img/slavic-red-and-belarusian-national-ornament-embroidery_522160-331-min.jpg);
}
